<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logs/internal-nlog.txt">

  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="allerr" fileName="logs/nlog-all-${shortdate}-err.log"
                 layout="${longdate}|${logger}|${uppercase:${level}}|${message}${newline}${exception}" />

    <target xsi:type="File" name="allwarn" fileName="logs/nlog-all-${shortdate}-warn.log"
                     layout="${longdate}|${logger}|${uppercase:${level}}|${message}${newline}${exception}" />

    <target xsi:type="File" name="alldebug" fileName="logs/nlog-all-${shortdate}-debug.log"
                  layout="${longdate}|${logger}|${uppercase:${level}}|${message}${newline}${exception}" />
    
    <target xsi:type="File" name="allinfo" fileName="logs/nlog-all-${shortdate}-info.log"
             layout="${longdate}|${logger}|${uppercase:${level}}|${message}${newline}${exception}" />

    <target xsi:type="Console" name="blackhole" />
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" levels="Trace" writeTo="blackhole" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" levels="Debug" writeTo="alldebug" />
    <logger name="*" levels="Warn" writeTo="allwarn" />
    <logger name="*" levels="Error" writeTo="allerr" />
    <logger name="*" levels="Info" writeTo="allinfo" />
  </rules>
</nlog>